{% extends "base.html" %}
{% block body_class %}Iniciar sesión{% endblock %}
{% block content %}
<div class="card card-centered">
  <div class="containerlogin">
    <div class="containerlogo">
      <!--div class="logo"-->
        <img src="{{ url_for('static', filename='conten/logo1partners.svg') }}" alt="Logo 1">
        <img class="forpartner" src="{{ url_for('static', filename='conten/logo2.svg') }}" alt="Logo 2">
      <!--/div-->  
    </div>
    <div class="containerform">
      <form method="post" class="form">
        <div class="GR1">
          <div class="custom-select">
            <div class="select-trigger">
              <span>Soy un proveedor</span>
              <i class="arrow"></i>
            </div>
            <div class="options">
              <label class="option">
                <input type="radio" name="proveedor" checked>
                <span class="radio"></span>
                <span class="text">Lima - Comas - Clínica Universitaria</span>
                <img src="/static/conten/iconselect.svg" alt="Logo Gonzales">
              </label>
              <label class="option">
                <input type="radio" name="proveedor">
                <span class="radio"></span>
                <span class="text">Arequipa - Centro - Clínica Salud</span>
                <img src="/static/conten/iconselect.svg" alt="Logo Salud">
              </label>
              <label class="option">
                <input type="radio" name="proveedor">
                <span class="radio"></span>
                <span class="text">Cusco - Av. Perú - Clínica Inka</span>
                <img src="/static/conten/iconselect.svg" alt="Logo Inka">
              </label>
            </div>
          </div>
        </div>
        <div class="GR2">
          <label>
            <i class="iconoinput"><img src="/static/conten/user.svg" alt="usericon"></i>
            <input name="username" type="text" placeholder="Usuario" autocomplete="username" required>
          </label>
        </div>
        <div class="GR3">
          <label>
            <i class="iconoinput">
              <img src="/static/conten/key.svg" alt="usericoncontraseña">
            </i>
            <input id="password" name="password" type="password" placeholder="Contraseña" autocomplete="current-password" required>
            <i class="iconoinput toggle-password">
              <img id="eyeIcon" src="/static/conten/eyeclose.svg" alt="iconeyes">
            </i>
          </label>
        </div>
        <div class="GR4">
          <button class="btn btn-primary" type="submit">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
  <!--p class="hint">Ingresa tu usuario y contraseña.</p-->
</div>

<div class="card card-centered">
  <video autoplay muted loop playsinline>
    <source src="{{ url_for('static', filename='conten/loginvideo.mp4') }}" type="video/mp4">
  </video>
</div>

{% endblock %}
